body {
    background-image: url('../images/background-image.jpg');
    font-family: 'Righteous', cursive;
    font-size: 60px;
    margin: auto;
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

img {
    max-width: 150px;
}

.main {
    max-width: 960px;
    margin: auto;
}

.press-any {
    font-size: 35px;
    font-weight: 100;
    white-space: pre-wrap;
}

.instructions {
    max-width: 680px;
    margin: auto;
    background: white;
    font-size: 20px;
    -webkit-text-stroke-width: 0px;
    white-space: pre-wrap;
    padding: 20px 0px;
    opacity: 0.5;
}